{% extends 'AttentraWebBundle:Layout:layout.html.twig' %}
{% import 'AttentraWebBundle::Twig/tablesorter.macro.html.twig' as tablesorter %}

{% block body -%}
    <h1>{% trans %}Resource group{% endtrans %}</h1>

    <dl class="dl-horizontal">
        <dt>{% trans %}Name{% endtrans %}</dt>
        <dd>{{ entity.name }}</dd>
        <dt>{% trans %}Description{% endtrans %}</dt>
        <dd>{{ entity.description | default('-') | nl2br }}</dd>
    </dl>

    <div class="clearfix"></div>

    <a href="{{ path('attentra_resourcegroup_edit', { 'id': entity.id }) }}" class="btn btn-primary"> <span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</a>
    <a href="{{ path('attentra_resourcegroup') }}" class="btn btn-default"> <span class="glyphicon glyphicon-list-alt"></span> {% trans %}Back to the list{% endtrans %}</a>
{% endblock %}
