{% extends 'AttentraWebBundle:Layout:layout.html.twig' %}

{% block body -%}
    <h1>{% trans %}Resource edit{% endtrans %}</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
